body{
  background-color: rgb( 165, 255, 253 );
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
}

nav{
  border: solid;
  padding: 1em;
  background-color: rgb( 246, 158, 255 );
}

ul{
  list-style-type: square;
}

.my_name{
  font-family: 'Felipa', cursive;
}

.p1{
  background-color: rgb( 255, 91, 91 );
}

.p2{
  background-color: rgb( 252, 255, 91 );
}
